body {
    margin: 0px;
    width: 100%;
    min-width: 700px;
}
/* Default styles for your divs */
#container {
    background-color: #a59d9d;
    padding: 10px;
    /* border-radius: 10px; */
    /* commented out border-radius */
    margin: 20px 0;
    display: flex; /* Use flexbox to arrange the elements */
    width: auto;
}
.view_emp_section2 {
    background-color: white !important;
}

#welcome {
    display: flex;
    flex: 1; 
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    /* width: 200px; */
    background-color: #e0fbc7;
}
/* 
ADD NEW EMPLOYEE CSS
*/
#manage_employee_add {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 20px 10px;
    padding: 0px 10px;
}
#register{ /*This css is used for both add_new employee and update_employee*/
    display: flex;
    flex: "";
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    font: 16px Helvetica, Impact;
    border-radius: 3px;
    place-items: center;
    background-color: #ededed;
}

.below {
    flex: 3;
}

.dashboard_btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    height: 70px;
    width: 100%;
}

/* 
UPDATE EMPLOYEE CSS
*/
#manage_employee_update{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 20px;
    padding: 0px 10px;
    background-color: #a59d9d;
}

#hide_employee_id_input{
    display: none;
}
#hide_employee_id_input input {
    display: inline-block;
    max-width: 50%;
}
/* Added search button inside the hide_emp button */
.search_btn {
    display: inline-block;
    padding: 3px 10px;
    background-color: #dfdfd4;
    color: black !important;
    border-radius: 4px;
    margin-left: 10;
}
.search_btn:hover{
    background-color: #adada2 !important;
    color: black !important;
}


.right, .right2{
    display: flex;
}
/* Adjusted buttons for add and update employee */
#update_btn, #cancel_btn, #reset, #view{
    display: block;
    margin: 20px 20px 20px 120px;
    padding: 0px 50px;
    width: 50%;
    height: 3em;
}


#cancel_btn, #reset {
    margin: 20px 120px 20px 20px;
    background-color: rgb(175, 16, 16);
}

#cancel_btn:hover, #reset:hover {
    background-color: rgb(212, 127, 127);
}
.right2 #cancel_btn, .right2 #update_btn{
        display: inline-block;
        padding: auto;
        margin-top: 5%;
}
.right2 #cancel_btn{
    margin-left: 25%;
    margin-right: 13%;
}
/* pop up and view_employee.html css styling */
#manage_employee_view_v2 {
    display: flex;
    /* flex: 3; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 20px;
    padding: 0 20px;
    background-color: #61676b;
    width: auto;
}

/* 
VIEW EMPLOYEE CSS for manage_employee.html
*/
#manage_employee_view {
    display: none;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 20px;
    padding: 0 20px;
    background-color: #61676b;
    width: auto;
}
.form_guide{
    flex: 1;
    text-align: center;
    border-radius: 5px 5px 0 0;
    padding: 20px;
    padding-left: 0%;
    margin: 0;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    margin-bottom: 5px;
    background-color: #61676b;
    color: white;
}
.form_guide div {
    text-align: center;
}
.form_guide button {
    display: inline-block;
    width: fit-content;
    margin: 2px 5px;
    padding: 5px;
    height: fit-content;
    background-color: rgb(175, 16, 16);
}
.form_guide button:hover {
    background-color: rgb(97, 8, 8);
    color: white;
}
#select_view{ 
    display: flex;
    flex: 3;
    flex-direction: column;
    height: auto;
    padding: 20px;
    font: 16px Helvetica, Impact;
    border-radius: 3px;
    place-items: center;
    margin:auto;
    width: 80%;
    background-color: #ededed; /* Added a background color */
}
#form_table{
    width: 700px;
}
#form_table p {
    text-align: center;
}
.row label {
    padding: 10px;
    padding-left: 50px;
}
#reset{ /*Some reset rule are in the cancel rule of the update emp section*/
    margin-right: 50px;
}
#view{
    margin-left: 50px;
}

/* ARCHIVE CSS PLACEHOLDER */
#manage_employee_archive {
    flex: 3;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 20px;
    padding: 0 20px;
    background-color: #fff;
}

/* less than 1000px Media query for container responsiveness */
@media (max-width: 1000px) {
    #container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
    #form_table {
        width: auto;
        margin: 0px;
        padding: 10px;
    }

    .row label {
        padding-left: 30px;
        font-size: 15.5px;

    }

    #manage_employee_view {
        margin: 10px;
        padding: 0px 10px;
    }
    #manage_employee_add, #manage_employee_update {
        padding: 5px;
    }

     #register {
        /* padding: 0px; */
        width: auto;
        margin-left: 0px;
    }

    #manage_employee_view .form_guide{
        margin-bottom: 5px;
        width: 100%;
    }
}
/* less than 870px (formally 768px) responsiveness  */
@media (max-width: 870px) { /*Changed this to 870 after measuring the width where imbalance is offensive*/
    #container {
        flex-direction: column;
    }
    #welcome {
        width: auto;
    }

    #dashboard_items {
        width: 100%;
    }
    #manage_employee_add, #manage_employee_update{
        margin: 0px;
        padding: 5px;
        margin-top: 20px;
    }
    #register{
        padding: 10px 0;
        margin: 0px;
    }

    #form_table {
        width: auto;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    

    .row label {
        padding-left: 20px;
        font-size: 16px;
    }

    #manage_employee_view {
        margin: 20px 0px 0px 0px;
        padding: 0px;
    }

  #register {
        /* padding: 0px; */
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    #manage_employee_view .form_guide{
        margin-bottom: 10px;
        width: 97%;
    }

}
/* 
    style for view function
*/
#employee_data{
    display: table;
    text-align: center;
    margin: auto;
}
#employee_data .tr{
display: table-row !important;
}
#employee_data #title, #title h4{
    text-align: center !important;
    border-bottom: 2px solid red;
    display: block; 
    text-align: center;
}
#employee_data .tr .td{
    display: table-cell !important;
    text-align: left !important;
    padding-right: 30px !important;
    padding-left: 10px !important;
}
.view_name_style {
    display: block;
    text-align: center;
    background-color: #61676b;
    padding: 10px;
    color: white;
}
#archive_btn {
    display: inline-block;
    padding: 3px 10px;
    background-color: #dfdfd4;
    /* box-shadow:  0 0 0 1px #ee3232; */
    color: black !important;
    border-radius: 4px;
    margin-left: 15px;
}
#register .flash_messages {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0 0px;
    background-color: #1a0909;
    width: auto;
    color: white;
    border-radius: 5px;
}
#register .flex_row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}