body {
    min-width: 500px !important;
}
#header {
    text-align: left !important;
}   
#container {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    padding: 20px;
    width: auto;
    border-radius: 10px;
    margin: 10px 0 1px 0;
    overflow: auto;
    background-color: #f8f8f8;
}
/* Custom button */
.btn {
    width: auto;
    min-width: 150px;
    margin: 5px auto 15px auto;
}
.cancel_btn{
    background-color: rgb(175, 16, 16);
}

.cancel_btn:hover {
    background-color: rgb(212, 127, 127);
}

/* Custom form */
.row input, .row select{
    margin-top: 5px;
}
#register {
    height: fit-content;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: 3px;
    display: grid;
    place-items: center;
    background-color: #c1c1c2; /* Added a background color */

}
.center {
    display: table-row;
}
.center div {
    display: table-cell;
    padding-top: 30px;
}
.center .right {
    margin-right: 20px;
}