<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us -  EasyHR</title>
    <link rel="icon" href="../static/assets/images/icon.png" type="image/img">
    <link rel="stylesheet" href="../static/assets/styles/default.css">
    <link rel="stylesheet" href="../static/assets/styles/contact.css">
</head>
<body>
    <header id="header">
        <div class="image"><img src="../static/assets/images/icon.png" alt="EasyHR"></div>
        <div class="ul">
            <ul>
                <a href="{{ url_for('main.landing_page') }}">Back Home</a>
                <!-- <a href="#">Partnerships</a>
                <a href="#">Contact</a> -->
            </ul>
        </div> 
        <div class="placeholder">
            
        </div>
    </header>
    <div id="devs">
        <div class="devs_row">
            <div  class="pics"><img src="../static/assets/images/Chime_Profile.jpg" alt="EasyHR"></div>
            <div class="write_up">
                <div class="info">
                    <h5>Kingsley Chime</h5>
                    <h5><i style="font-family: animationstart;">Full Stack Developer</i></h5>
            </div>
              
                <p class="bio">
                    Kingsley is a passionate Full Stack Developer dedicated to crafting seamless web applications.
                    His unwavering enthusiasm for backend development is matched only by his visionary leadership, driving the EasyHR development team to excellence.
                    His GitHub contributions reflect his technical prowess, and his email is always open for collaborative endeavors.
                    With an unwavering commitment to pushing boundaries, Chime Kingsley seamlessly blends artistry with technical expertise—an indispensable partner for your projects.
                </p>
                <div class="handles">
                    <a class="btn" href="mailto:onlinekingsley@gmail.com" target="_blank">Email</a>
                    <a class="btn" href="https://www.linkedin.com/in/chika-kingsley-chime-195b0615b" target="_blank">LinkedIn</a>
                    <a class="btn" href="https://github.com/Chimekinglsey" target="_blank">GitHub</a>

  
                </div>
            </div>
        </div>
        <div class="devs_row">
            <div  class="pics"><img src="../static/assets/images/Chidubem.jpeg" alt="EasyHR"></div>
            <div class="write_up">
                <div class="info">
                    <h5>Chidubem Esogibe</h5>
                    <h5><i style="font-family: animationstart;">Full Stack Developer</i></h5>
                </div>
                    
                    <p class="bio">Meet Chidubem Esogibe, a versatile Full Stack Developer who's equally comfortable at the front end and back end of web development.
                        Chidubem's expertise has been instrumental in shaping the EasyHR app's user-friendly interface and robust backend architecture.
                        With a profound curiosity for backend development, Chidubem is dedicated to exploring innovative solutions that enhance the app's performance and functionality.
                        When not coding, you'll find Chidubem diving into the world of databases and server-side technologies.
                    </p>
                    <div class="handles">
                        <a class="btn" href="mailto:andrewetwork@gmail.com" target="_blank">Email</a>
                        <a class="btn" href="https://www.linkedin.com/in/esogibe-chidubem-andrew-901a6149/" target="_blank">LinkedIn</a>
                        <a class="btn" href="https://github.com/gibexz" target="_blank">GitHub</a>
                    </div>    
            </div>
        </div>
        <div class="devs_row">
            <div  class="pics"><img src="../static/assets/images/Ng.jpeg" alt="EasyHR"></div>
            <div class="write_up">
                <div class="info">
                    <h5>Zee Nwamanna</h5>
                    <h5><i style="font-family: animationstart;">Full Stack Developer</i></h5>
            </div>
                
                <p class="bio">
                    Nwamanna Zee is a dynamic Full Stack Developer known for bridging the gap between front-end aesthetics and back-end functionality.
                    With hands-on experience in both realms of development, Zee has been pivotal in making the EasyHR app a user-friendly and efficient HR tool.
                    Zee is deeply passionate about diving deeper into backend development, constantly seeking opportunities to optimize the app's performance and security.
                    Count on Zee to bring innovation and reliability to your app.
                </p>
                <div class="handles">
                    <a class="btn" href="mailto:nwamannazika@gmail.com" target="_blank">Email</a>
                    <a class="btn" href="https://www.linkedin.com/in/esogibe-chidubem-andrew-901a6149/" target="_blank">LinkedIn</a>
                    <a class="btn" href="https://github.com/nwamanna" target="_blank">GitHub</a>

                </div>
            </div>
        </div>
    </div>
    
    
</body>
<footer>
    <ul>
        <a href="{{ url_for('main.about') }}">About</a>
        <a href="#">Contact</a>
        <a href="{{ url_for('main.terms') }}">Terms of Service</a>
        <a href="{{ url_for('main.privacy') }}">Privacy Policy</a>
    </ul>
    <p class="center"><i>Big Team 2023 &copy; <b>All Rights Reserved</b></i></p>
</footer>
</html>