<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - EasyHR</title>
    <link rel="icon" href="../static/assets/images/icon.png" type="image/img">
    <link rel="stylesheet" href="../static/assets/styles/default.css">
    <link rel="stylesheet" href="../static/assets/styles/dashboard.css">
</head>
<body>
    <header id="header">
        <div class="image"><img src="../static/assets/images/icon.png" alt="EasyHR"></div>
       <div class="ul">
        <ul>
            <a href="{{ url_for('main.dashboard') }}">Home</a>
            <a href="{{ url_for('auth.logout') }}">Sign out</a>
            <!-- <a href="#">Partnerships</a>
            <a href="#">Contact</a> -->
        </ul>
    </div> 
    <div class="placeholder">
            
    </div>
    </header>
     <div id="container">
        <div id="welcome">
            <div id="logo">
            </div>
            <div class="welcome_body">
                <h2>Welcome back {{ user }}</h2>
                <h3>You have {{ emp_count }} {{ employee }}</h3>
            </div>
        </div>
            <div id="dashboard_items">
                <div class="dashboard_btns">
                    <button class="btn">
                       <a href="{{ url_for('main.manage_emp') }}">Manage Employee</a> 
                    </button>
                    <button class="btn">
                        <a href="{{ url_for('main.manage_dept') }}">Manage Department</a>
                    </button>
                    <button class="btn">
                       <a href="{{ url_for('main.manage_branch') }}">Manage Branch</a> 
                    </button>
                    <button class="btn">
                      <a href="{{ url_for('main.manage_payroll') }}">Manage Payroll</a>  
                    </button>
            </div>
        </div>
    </div>
</body>
<footer>
    <ul>
        <a href="{{ url_for('main.about') }}">About</a>
        <a href="{{ url_for('main.contact') }}">Contact</a>
        <a href="{{ url_for('main.terms') }}">Terms of Service</a>
        <a href="{{ url_for('main.privacy') }}">Privacy Policy</a>
    </ul>
    <p class="center"><i>Big Team 2023 &copy; <b>All Rights Reserved</b></i></p>
</footer>
</html>
