<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up -EasyHR</title>
    <link rel="icon" href="../static/assets/images/icon.png" type="image/img">
    <link rel="stylesheet" href="../static/assets/styles/default.css">
    <link rel="stylesheet" href="../static/assets/styles/sign_up_page.css">

</head>
<body>
    <header id="header">
        <div class="image"><img src="../static/assets/images/icon.png" alt="EasyHR"></div>
        <div class="ul">
            <ul>
                <a href="{{ url_for('main.landing_page') }}" style="margin: auto;">Back Home</a>
                <!-- <a href="#">Partnerships</a>
                <a href="#">Contact</a> -->
            </ul>
        </div>
        <div class="placeholder">
            
        </div>
    </header>
     <div id="container">
        <div id="register">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="red_background">
                    {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                </div>
            {% endif %}
            {% endwith %}
            <form id="form_table" action="/signup" method="POST">
                <div class="row">
                    <label for="FirstName"> First Name:</label>
                    <input type="text" id="FirstName" name="first_name" required autofocus><br>
                </div>

                <div class="row">
                    <label for="LastName"> Last Name:</label>
                    <input type="text" id="LastName" name="last_name" required><br>
                </div>

                <div class="row">
                    <label for="DOB"> D.O.B:</label>
                    <input type="date" id="DOB" name="DOB" required><br>
                </div>
                
                <div class="row">
                    <label for="CompanyName"> Company Name:</label>
                    <input type="text" id="CompanyName" name="company_name" required><br>
                </div>
                
                <div class="row">
                    <label for="Email"> Official Email:</label>
                    <input type="email" id="Email" name="official_email" required><br>
                </div>
                
                <div class="row">
                        <label for="CompanySize"> Company Size:</label>
                    <select name="company_size">
                    <option value="" disabled selected>--select one--</option>
                    <option value="1 - 50">1 - 50</option>
                    <option value="51 - 100">51 - 100</option>
                    <option value="101 - 200">101 - 200</option>
                    <option value="201 - 500">201 - 500</option>
                    <option value="Above 500">Above 500</option>
                </select><br>
            </div>
                
                <div class="row">
                    <label for="Password"> Password:</label>
                    <input type="password" name="password" maxlength="20" size="8" required>
                </div>
                
                 <div class="center"> 
                    <div><button class="cancel_btn btn"><a href="{{ url_for('auth.login') }}">Cancel</a></button>
                </div>
                    <div class="right"><input type="submit" class="signUp_btn btn" value="Sign Up"> 
                    </div>
            </div>
        </form>
           
        </div>
    </div>
    <footer>
    <ul>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
    </ul>
    <p><i>Big Team 2023 &copy; <b>All Rights Reserved</b></i></p>
</footer>
</body>

</html>
